{% extends "app/index.html" %}

{% block main %}
<p> User: {{ target_user.username }}
{% if target_user.pk == user.pk %}
	{{target_user.account.money}}$
{% endif %}
<p> <a href = "{% url 'app:profile.users.edit' target_user.pk %}">Edit</a>

<ul>
	{% for chr in related_chars %}
	<li> View <a href = "{% url 'app:profile.chars.view' chr.pk %}">{{chr.name}}</a></li>
	{% endfor %}
</ul>

<form action = "{% url 'app:logout' %}" method = "post">
{% csrf_token %}
<input type = "submit" value = "Logout">
</form>

{% endblock main %}
