<html>
<head>
</head>
<body bgcolor = '#ffc'>
<hr>
<h1> Content:</h1>
{% block content %}

	<hr>
	<h2> Main: </h2>
	{% block main %}
		<ul>
		{% for be in blog_entries %}
			<li> <table border = '1'><tr><td>{{be.author}} posted at {{be.pub_date}}:</td></tr>
				<tr><td>{{be.text}}</td></tr></table></li>
		{% endfor %}
		</ul>
	{% endblock main %}
	<hr>
	<h2> Side: </h2>
		<ul>
		{% for component in list_components %}
			<li><a href = "{% url 'app:index' %}{{ component.url }}">{{ component.name }}</a></li>
		{% endfor %}
		</ul>

	{% if user.username == '' %}
	<hr>
	<h2> Login: </h2>
	{% include 'app/auth/login.html' %}
	{% endif %}
{% endblock content %}
<hr>
</body>
</html>
