{% load staticfiles %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href='https://fonts.googleapis.com/css?family=Jura:400,500,600,300&subset=latin,cyrillic' rel='stylesheet'
      type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'app/st.css' %}"/>
<link rel="icon" type="image/png" href="img/favicon.png">

<title>{% block title %} X-COM 40000 {% endblock %}</title>

{% block content %}
<body>
<div id="right">
    {% block main %}
    {% endblock main %}
</div>
<div id="left">
    <div id="logobg">
        <div id="logo">
        </div>
    </div>
    <div id="charlogo">
    </div>
    <div id="buttons">
        <div id="butt">
            {% for component in list_components %}
            <div class="nine">
                {% include "app/nya/buttom.html" %}
                <svg version="1.1"  class="svp"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 258.9 56.3" style="enable-background:new 0 0 258.9 56.3;" xml:space="preserve">
			    <!--<li><a href = "{% url 'app:index' %}{{ component.url }}">{{ component.name }}</a></li>-->
				<text transform="matrix(1 0 0 1 25 35)" class="menutext">{{ component.name }}</text>
				</svg>
            </div>
            {% endfor %}

            {% if user.username == '' %}
            <div id="login">
                {% include "app/nya/login.html" %}
                <!-- НАЧАЛО ФОРМЫ ВХОДА -->
                <form id="slick-login">
                    <!-- ЛОГИН -->
                    <input type="text" name="username" class="placeholder" placeholder="логин">
                    <!-- ПАРОЛЬ -->
                    <input type="password" name="password" class="placeholder" placeholder="пароль">
                    <!-- КНОПКА ВХОДА -->
                    <input type="submit" value="ВОЙТИ">
                </form>
                <!-- КОНЕЦ ФОРМЫ ВХОДА -->
            </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
{% endblock content %}

