<svg version="1.1" class="svl" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none"
	 viewBox="0 0 258.9 100" style="enable-background:new 0 0 258.9 56.3;" xml:space="preserve">
<style type="text/css">
	
	.st1{fill:none;stroke:#1BA7E4;stroke-width:3;stroke-miterlimit:10;}
</style>
<defs>
<pattern id="diagonalHatch" width="3px" height="10px" patternTransform="rotate(90 0 0)" patternUnits="userSpaceOnUse">
  <line x1="0" y1="0" x2="0" y2="10" style="stroke:#263E4A; stroke-width:1px" />
</pattern>
</defs>
<path d="M15,97L4.2 86.1 4.2 3.3 151 3.3 160.6 12.8 244.6 12.8 255 23.2 255 97 z" fill="url(#diagonalHatch)"/>
<path id="garry" d="M15,97L4.2 86.1 4.2 3.3 151 3.3 160.6 12.8 244.6 12.8 255 23.2 255 97 z" fill="rgba(0,0,0,0)"/>
<g>
<polyline class="st1" points="15.4,3.3 4.2,3.3 4.2,14.5 "/>
<polyline class="st1" points="25.2,97 15,97 4.2,86.1 4.2,75.6 "/>
<polyline class="st1" points="255,34.2 255,23.2 244.6,12.8 160.6,12.8 151,3.3 139.8,3.3 "/>
<polyline class="st1" points="244.5,97 255,97 255,86.3 "/>
</g>
<rect y="2" x="165" class="str100" width="92" height="3"/>
</svg>